header {
    display: flex;
    justify-content: center;
    background-color: 	#696969;
    font-size: 55px;
    border-color: black;
    border: solid;
}
html {
    background-color: rgb(30, 126, 30);
}
.intro {
    display: flex;
    align-items: center;
}